name: Attach Artifact to Release

on:
  workflow_dispatch:
  pull_request:
    types:
      - closed

jobs:

  attach-artifact-to-release:
    uses: liquibase/build-logic/.github/workflows/extension-attach-artifact-release.yml@main
    secrets: inherit
