name: Create Release

on:
  push:
    branches:
      - main
      - hibernate5

permissions:
  contents: write
  pull-requests: write
  
jobs:
  create-release:
    uses: liquibase/build-logic/.github/workflows/create-release.yml@v0.6.9
    secrets: inherit
