name: Release Extension to Sonatype

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: write
  pull-requests: write
  
jobs:
  release:
    uses: liquibase/build-logic/.github/workflows/extension-release-published.yml@v0.4.1
    secrets: inherit
