# Run Snyk nightly to scan and report security issues on staging.
name: Nightly Snyk Scan

# Job will run nightly at 02:05 EDT / 01:05 CDT
# Time below is UTC
on:
  schedule:
    - cron: "5 6 * * *"
  workflow_dispatch:

jobs:
  security-scan:
    uses: liquibase/build-logic/.github/workflows/synk-nightly.yml@v0.4.4
    secrets: inherit